.banner-principal-decorativo
  &-1
    top: 55%
    right: 10%
    width: 120px
    position: absolute
    animation: float1 3.5s ease-in-out infinite alternate
  
  &-2
    top: 15%
    right: 70%
    width: 80px
    position: absolute
    animation: float1 2.8s ease-in-out infinite alternate
  
  &-3
    top: 70%
    right: 60%
    width: 80px
    position: absolute
    animation: float1 2.8s ease-in-out infinite alternate

@media (min-width: 1025px)
  .banner-principal-decorativo
    &-1
      top: 55%
      right: 10%
      width: 120px
      position: absolute
    
    &-2
      top: 15%
      right: 70%
      width: 80px
    
    &-3
      top: 70%
      right: 60%
      width: 80px

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
    
.banner-principal .tarjeta
  
.banner-principal__row .banner-principal__img
  width: 500px !important
  @media screen and (max-width: $bp-max-xl)
    width: 400px !important

.titulo-principal__numero
  min-width: 45px
  height: 45px
  margin-right: 15px
  position: relative
  background-color: $color-acento-contenido !important

.banner-interno__fondo 
  background-image: url('../assets/curso/portada/banner_interno.png') !important

  .banner-principal .tarjeta
  background-position: left 50% !important

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important

.banner-interno__titulo__icono i
  color: $color-primario

figcaption
  font-weight: normal


// --- .cita-decorada ---

.cita-decorada
  
  .cita-decorada__caja
    background-size: 100% 100%
    background-repeat: no-repeat

    &--fondo-1
      background-image: url('../assets/curso/temas/tema_1/img_2.png')

    &--fondo-2
      background-image: url('../assets/curso/temas/tema_1/img_7.png')


    [class*="cita-decorada__imagen-flotante"]
      width: 100%
      height: auto
      
    .cita-decorada__imagen-flotante-1
      position: absolute
      transform: translateY(-120px) translateX(-15px)
      z-index: 3
      max-width: 300px
      margin: 0 auto
      @media (max-width: 1025px)
        transform: translateY(-113px) translateX(-40px)
        max-width: 220px
      
    .cita-decorada__imagen-flotante-2
      position: absolute
      transform: translateY(-106px) translateX(-68px)
      z-index: 3
      max-width: 300px
      margin: 0 auto
      @media (max-width: 1025px)
        transform: translateY(-85px) translateX(-68px)
        max-width: 250px
      
    .cita-decorada__imagen-flotante-3
      position: absolute
      transform: translateY(-100px) translateX(-68px)
      z-index: 3
      max-width: 240px
      margin: 0 auto
      @media (max-width: 1025px)
        transform: translateY(-80px) translateX(-60px)
        max-width: 200px
      
    .cita-decorada__imagen-flotante-4
      position: absolute
      transform: translateY(-95px) translateX(-45px)
      z-index: 3
      max-width: 210px
      margin: 0 auto
      @media (max-width: 1025px)
        transform: translateY(-80px) translateX(-45px)
        max-width: 185px

// Tabla a 
.tabla-a thead
  border-top: 5px $color-terciario solid
  background-color: $color-terciario-10
  color: $color-sistema-a
  font-weight: bold
.bg-table-01
  background-color: $color-adicional-1
  color: $color-sistema-texto

.border-dashed 
  border-style: dotted !important
